main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vw;
    justify-content: space-around;
    margin: 5vw;
}
main img {
    width: 100%;
    border-radius: 2vw;
    box-shadow: black 0px 0px 1vw;
}
main img:hover {
    transform: scale(1.05);
}
@media screen and (max-width: 900px) {

main{
    grid-template-columns: repeat(3,1fr);
}
}
