@font-face {
    font-family: Jose;
    src: url(fonts/JosefinSansBold.ttf);
}
@font-face {
    font-family: Wildepth;
    src: url(fonts/HeyNovember-eZZ2l.ttf);
}
@font-face {
    font-family: Apa;
    src: url(fonts/ApaBedone1112-qZXj5.ttf);
}

main {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.title {
    color: white;
    background-color: #3b3b3b;
    padding: 3vw;
    border-radius: 20px;
    grid-column-start: 4;
    grid-row: 1/3;
    margin: 0 auto;
    text-align: center;
    box-shadow: #6e6e6e 0px 0px 20px;
    justify-self: center;
    align-self: center;
}
h1 {
    font-size: 8vw;
    font-family: Apa;
    margin: 0;
    margin-bottom: -1vw;
}
h2 {
    font-family: Madeleina;
}
.by {
    font-size: 4vw;
    font-family: Madeleina;
    margin: 0;
}
.name {
    font-size: 5vw;
    font-family: Madeleina;
    margin: 0;
    color: #ffd000;
}
.background_image {
    grid-column: 1/14;
    grid-row: 1/8;
    width: 100%;
    margin: 0;
}
.portfolio_links {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    z-index: 1;
    margin-top: -65vw;
    margin-bottom: 8vw;
    overflow: auto;
    justify-content: space-around;
}
h3 {
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
.wildepth {
    text-decoration: none;
    width: 100%;
    grid-column: 2/7;
    padding-top: 2vw;
    margin: 0 auto;
}
.lion {
    width: 93%;
    z-index: 1;
    border: #6e6e6e solid 4px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    box-shadow: black 0px 0px 2vw;
}
.lion:hover {
    box-shadow: white 0px 0px 10px;
}
.w {
    background-color: black;
    color: white;
    font-family: Wildepth;
    font-size: 6vw;
    border: #6e6e6e solid 4px;
    box-shadow: black 0px 0px 2vw;
}
.w:hover {
    box-shadow: white 0px 0px 2vw;
}
.passion_projects{
    width: 100%;
    text-decoration: none;
    grid-column: 8/13;
    margin: 0 auto;
    padding-top: 2vw;
}
.cookies {
    width: 93%;
    z-index: 1;
    border: #b97e62 solid 4px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    box-shadow: black 0px 0px 2vw;
}
.pp {
    font-family: Apa;
    font-size: 4vw;
    background-color: #f6c29d;
    border: #b97e62 solid 4px;
    color: #795341;
    box-shadow: black 0px 0px 2vw;
    padding: 2vw;
}
.cookies:hover {
    box-shadow: #795341 0px 0px 10px;
}
.pp:hover {
    box-shadow: #795341 0px 0px 2vw;
}