@font-face {
    font-family: Madeleina;
    src: url(fonts/MadeleinaSans-2VY3.ttf);
}
@font-face {
    font-family: Jose;
    src: url(fonts/JosefinSansBold.ttf);
}
@font-face {
    font-family: Wildepth;
    src: url(fonts/HeyNovember-eZZ2l.ttf);
}

h1 {
    font-family: Wildepth;
    color: white;
    text-align: center;
    font-size: 12vw;
    padding: 2vw;
}
h2 {
    font-family: Madeleina;
    color: rgb(219, 219, 219);
    padding: 1vw;
    font-size: 2.5vw;
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    justify-items: center;
    align-items: center;
    background-color: #1d1d1d;
    justify-content: space-around;
}
.wildepth_info {
    grid-column: 1/2;
    width: 100%;
    text-align: center;
}
.lion {
    grid-column: 2/3;
    width: 100%;
}
.lionscape {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin: 5vw;
    grid-gap: 1vw;
}
main img {
    width: 100%;
    border-radius: 1vw;
}
main img:hover {
    transform: scale(1.05);
}

