@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@font-face {
    font-family: Madeleina;
    src: url(fonts/MadeleinaSans-2VY3.ttf);
}
@font-face {
    font-family: Jose;
    src: url(fonts/JosefinSansBold.ttf);
}
@font-face {
    font-family: Wildepth;
    src: url(fonts/HeyNovember-eZZ2l.ttf);
}

h1 {
    font-family: Wildepth;
    color: white;
    text-align: center;
    font-size: 7vw;
}
h2 {
    font-family: Madeleina;
    color: white;
}
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vw;
    justify-content: space-around;
    margin: 5vw;
}
main img {
    width: 100%;
    border-radius: 2vw;
    box-shadow: black 0px 0px 1vw;
}

